/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESET */

#root {
  height: 100vh;
  .pageContainer {
    width: 100%;
    height: 100%;
  }
}